<li>
  <div class="field">
    <%= f.label :text %> <br/ >
    <%= f.text_field :text %>
    <%= f.check_box :correct_option %>
    <%= f.label :correct_option %>
    <%= link_to_remove_field "Remove", f %>
  </div>
</li>